#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
}
body {
  background-color: rgb(8, 231, 231);
  /* padding: 5px; */
  display: flex;
}
a {
  padding: 20px;
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 2em;
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: center;
  transition: all 300ms;
}

h1 {
  padding-top: 10px;
}

.homepage {
  padding-left: 170px;
  padding-right: 170px;
}

.checkout {
  margin-bottom: 40px;
}

.radio {
  /* padding: 0px;
  margin: 0px; */
  margin-right: 0.5rem;
  margin-top: 3px;
  
    position: absolute;
  
        /* content: ''; */
        background: blue;
        border-radius: 100%;
        border: 1px solid darken(blue, 25%);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    
    /* &:checked {
      + .radio-label {
        &:before {
          background-color: $color2;
          box-shadow: inset 0 0 0 4px $color1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &:before {
          outline: none;
          border-color: $color2;
        }
      }
    }
    
    
    
   
  }

} */
